# Non-Graded Challenge 12
---
> Arief Luqmannurhakim
>
> Batch 001 -- FTDS

In [1]:
! pip install -q kaggle

In [2]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"nelrickeine","key":"0f603eceb6345956a665633e2947a56f"}'}

In [3]:
! mkdir ~/.kaggle
! cp kaggle.json ~/.kaggle/
! chmod 600 ~/.kaggle/kaggle.json
! kaggle datasets list

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
ref                                                         title                                              size  lastUpdated          downloadCount
----------------------------------------------------------  ------------------------------------------------  -----  -------------------  -------------
gpreda/reddit-vaccine-myths                                 Reddit Vaccine Myths                              234KB  2021-07-23 06:49:54           9662
crowww/a-large-scale-fish-dataset                           A Large Scale Fish Dataset                          3GB  2021-04-28 17:03:01           5904
imsparsh/musicnet-dataset                                   MusicNet Dataset                                   22GB  2021-02-18 14:12:19           2189
dhruvildave/wikibooks-dataset                               Wikibooks Dataset                                   2GB  2021-07-03 18:37:20           2470
promptcloud/careerbuilder-job-listing-2020                  Careerbuilder Job Listing 2020                     42MB  2021-03-05 06:59:52           1417
fatiimaezzahra/famous-iconic-women                          Famous Iconic Women                               838MB  2021-02-28 14:56:00            991
nickuzmenkov/nih-chest-xrays-tfrecords                      NIH Chest X-rays TFRecords                         11GB  2021-03-09 04:49:23            807
alsgroup/end-als                                            End ALS Kaggle Challenge                           12GB  2021-04-08 12:16:37            799
coloradokb/dandelionimages                                  DandelionImages                                     4GB  2021-02-19 20:03:47            693
mathurinache/twitter-edge-nodes                             Twitter Edge Nodes                                342MB  2021-03-08 06:43:04            654
simiotic/github-code-snippets                               GitHub Code Snippets                                7GB  2021-03-03 11:34:39            233
mathurinache/the-lj-speech-dataset                          The LJ Speech Dataset                               3GB  2021-02-15 09:19:54            247
stuartjames/lights                                          LightS: Light Specularity Dataset                  18GB  2021-02-18 14:32:26             95
landrykezebou/lvzhdr-tone-mapping-benchmark-dataset-tmonet  LVZ-HDR Tone Mapping Benchmark Dataset (TMO-Net)   24GB  2021-03-01 05:03:40            162
nickuzmenkov/ranzcr-clip-kfold-tfrecords                    RANZCR CLiP KFold TFRecords                         2GB  2021-02-21 13:29:51            106
imsparsh/accentdb-core-extended                             AccentDB - Core & Extended                          6GB  2021-02-17 14:22:54             96
datasnaek/youtube-new                                       Trending YouTube Video Statistics                 201MB  2019-06-03 00:56:47         145119
zynicide/wine-reviews                                       Wine Reviews                                       51MB  2017-11-27 17:08:04         140639
residentmario/ramen-ratings                                 Ramen Ratings                                      40KB  2018-01-11 16:04:39          25123
datasnaek/chess                                             Chess Game Dataset (Lichess)                        3MB  2017-09-04 03:09:09          20119

In [4]:
!kaggle datasets download -d hendratno/covid19-indonesia --unzip

Downloading covid19-indonesia.zip to /content
  0% 0.00/633k [00:00<?, ?B/s]
100% 633k/633k [00:00<00:00, 40.8MB/s]

In [5]:
import numpy as np
import pandas as pd
import seaborn as sns
from scipy import stats
import matplotlib.pyplot as plt

In [6]:
df = pd.read_csv('covid_19_indonesia_time_series_all.csv')
df

            Date Location ISO Code           Location  ...  Item  Kind  Hidden
0       1/8/2020             ID-JI         Jawa Timur  ...   NaN   NaN     NaN
1       1/9/2020             ID-JI         Jawa Timur  ...   NaN   NaN     NaN
2      1/10/2020             ID-JI         Jawa Timur  ...   NaN   NaN     NaN
3      1/11/2020             ID-JI         Jawa Timur  ...   NaN   NaN     NaN
4      1/12/2020             ID-JI         Jawa Timur  ...   NaN   NaN     NaN
...          ...               ...                ...  ...   ...   ...     ...
16278   7/9/2021             ID-SG  Sulawesi Tenggara  ...   NaN   NaN     NaN
16279   7/9/2021             ID-SA     Sulawesi Utara  ...   NaN   NaN     NaN
16280   7/9/2021             ID-SB     Sumatera Barat  ...   NaN   NaN     NaN
16281   7/9/2021             ID-SS   Sumatera Selatan  ...   NaN   NaN     NaN
16282   7/9/2021             ID-SU     Sumatera Utara  ...   NaN   NaN     NaN

[16283 rows x 41 columns]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16283 entries, 0 to 16282
Data columns (total 41 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         16283 non-null  object
 1   Location ISO Code            16283 non-null  object
 2   Location                     16283 non-null  object
 3   New Cases                    16283 non-null  int64
 4   New Deaths                   16283 non-null  int64
 5   New Recovered                16283 non-null  int64
 6   New Active Cases             16283 non-null  int64
 7   Total Cases                  16283 non-null  int64
 8   Total Deaths                 16283 non-null  int64
 9   Total Recovered              16283 non-null  int64
 10  Total Active Cases           16283 non-null  int64
 11  Location Level               16283 non-null  object
 12  City or Regency              0 non-null      float64
 13  Province                     15788 non-null  object
 14  Country                      16283 non-null  object
 15  Continent                    16283 non-null  object
 16  Island                       15788 non-null  object
 17  Time Zone                    15788 non-null  object
 18  Special Status               2393 non-null   object
 19  Total Regencies              16283 non-null  int64
 20  Total Cities                 15814 non-null  float64
 21  Total Districts              16283 non-null  int64
 22  Total Urban Villages         15812 non-null  float64
 23  Total Rural Villages         15787 non-null  float64
 24  Area (km2)                   16283 non-null  int64
 25  Population                   16283 non-null  int64
 26  Population Density           16283 non-null  float64
 27  Longitude                    16283 non-null  float64
 28  Latitude                     16283 non-null  float64
 29  New Cases per Million        16283 non-null  float64
 30  Total Cases per Million      16283 non-null  float64
 31  New Deaths per Million       16283 non-null  float64
 32  Total Deaths per Million     16283 non-null  float64
 33  Case Fatality Rate           16283 non-null  object
 34  Case Recovered Rate          16283 non-null  object
 35  Growth Factor of New Cases   15298 non-null  float64
 36  Growth Factor of New Deaths  14344 non-null  float64
 37  Name                         0 non-null      float64
 38  Item                         0 non-null      float64
 39  Kind                         0 non-null      float64
 40  Hidden                       0 non-null      float64
dtypes: float64(17), int64(12), object(12)
memory usage: 5.1+ MB

In [13]:
df.isna().sum()

Date                               0
Location ISO Code                  0
Location                           0
New Cases                          0
New Deaths                         0
New Recovered                      0
New Active Cases                   0
Total Cases                        0
Total Deaths                       0
Total Recovered                    0
Total Active Cases                 0
Location Level                     0
City or Regency                16283
Province                         495
Country                            0
Continent                          0
Island                           495
Time Zone                        495
Special Status                 13890
Total Regencies                    0
Total Cities                     469
Total Districts                    0
Total Urban Villages             471
Total Rural Villages             496
Area (km2)                         0
Population                         0
Population Density                 0
Longitude                          0
Latitude                           0
New Cases per Million              0
Total Cases per Million            0
New Deaths per Million             0
Total Deaths per Million           0
Case Fatality Rate                 0
Case Recovered Rate                0
Growth Factor of New Cases       985
Growth Factor of New Deaths     1939
Name                           16283
Item                           16283
Kind                           16283
Hidden                         16283
dtype: int64

In [17]:
zero_data = df.isnull().sum() == len(df)
df.drop(columns=df.columns[zero_data], inplace=True)

In [26]:
df.head()

        Date  ... Growth Factor of New Deaths
0   1/8/2020  ...                         NaN
1   1/9/2020  ...                        0.33
2  1/10/2020  ...                        1.00
3  1/11/2020  ...                        3.00
4  1/12/2020  ...                        1.00

[5 rows x 36 columns]

In [23]:
df.loc[:, ['Case Fatality Rate']] = df.loc[:, ['Case Fatality Rate']].applymap(lambda x: x.replace('%', '')).astype('float32').applymap(lambda x: round(x, 2))

In [32]:
conditions = [
              (df['Case Fatality Rate'] < 10),
              (df['Case Fatality Rate'] >=10) & (df['Case Fatality Rate'] < 50),
              (df['Case Fatality Rate'] > 50) & (df['Case Fatality Rate'] <= 100),
              (df['Case Fatality Rate'] > 100)
]

values = ['Warning', 'Moderate', 'Dangerous', 'Fatal']

In [33]:
df['isFatal'] = np.select(conditions, values)
df

            Date Location ISO Code  ... Growth Factor of New Deaths    isFatal
0       1/8/2020             ID-JI  ...                         NaN  Dangerous
1       1/9/2020             ID-JI  ...                        0.33  Dangerous
2      1/10/2020             ID-JI  ...                        1.00  Dangerous
3      1/11/2020             ID-JI  ...                        3.00      Fatal
4      1/12/2020             ID-JI  ...                        1.00      Fatal
...          ...               ...  ...                         ...        ...
16278   7/9/2021             ID-SG  ...                        0.50    Warning
16279   7/9/2021             ID-SA  ...                        9.00    Warning
16280   7/9/2021             ID-SB  ...                        1.00    Warning
16281   7/9/2021             ID-SS  ...                        0.38    Warning
16282   7/9/2021             ID-SU  ...                        0.83    Warning

[16283 rows x 37 columns]

In [34]:
observed_table = pd.crosstab(df['Location'], df['isFatal'], margins=True)
observed_table

isFatal                      0  Dangerous  Fatal  Moderate  Warning    All
Location
Aceh                         0          0      0         8      463    471
Bali                         0         19      0         4      463    486
Banten                       0          3     21        52      415    491
Bengkulu                     6          3      0        31      426    466
DKI Jakarta                  0         17      0        36      443    496
Daerah Istimewa Yogyakarta   5          2      0        21      453    481
Indonesia                    0          0      0         0      495    495
Jambi                        0          0      0         0      477    477
Jawa Barat                   0          0      0        41      454    495
Jawa Tengah                  0          6     11        29      443    489
Jawa Timur                   0          8     70       101      370    549
Kalimantan Barat             0          0      0        24      444    468
Kalimantan Selatan           0          0      0        22      445    467
Kalimantan Tengah            2          0      0        12      457    471
Kalimantan Timur             0          1      0        26      456    483
Kalimantan Utara             6          0      0         8      455    469
Kepulauan Bangka Belitung    8          0      0        18      441    467
Kepulauan Riau               2         13      0        41      422    478
Lampung                      0          0      0        42      429    471
Maluku                       0          0      0         1      474    475
Maluku Utara                 0          0      0         0      474    474
Nusa Tenggara Barat          0          0      0         0      466    466
Nusa Tenggara Timur          0          0      0         0      457    457
Papua                        0          0      0         2      473    475
Papua Barat                  0         20      0        12      438    470
Riau                         0          0      0        34      461    495
Sulawesi Barat               0          0      0        13      456    469
Sulawesi Selatan             1          0      0         4      473    478
Sulawesi Tengah              3          0      0        19      449    471
Sulawesi Tenggara            0          0      0         0      487    487
Sulawesi Utara               0          0      0        43      428    471
Sumatera Barat               0          0      0         9      462    471
Sumatera Selatan             0          2     24        26      422    474
Sumatera Utara               0          0     13        65      402    480
All                         33         94    139       744    15273  16283

In [35]:
arr_chi = pd.crosstab(df['Location'], df['isFatal'], margins=True).values
denominator = arr_chi[-1, -1]
expected = np.zeros(tuple(np.array(arr_chi.shape) -1), dtype='float32')
for row in range(arr_chi.shape[0]-1):
  for col in range(arr_chi.shape[1] -1):

    expected[row, col] = arr_chi[row, -1] * arr_chi[-1, col] / denominator

In [36]:
index = pd.crosstab(df['Location'], df['isFatal'], margins=True).index[:-1]
column = pd.crosstab(df['Location'], df['isFatal'], margins=True).columns[:-1]
expected_table = pd.DataFrame(expected, index=index, columns=column)
expected_table = expected_table.applymap(lambda x: round(x, 3))
expected_table

isFatal                         0  Dangerous  Fatal  Moderate  Warning
Location
Aceh                        0.955      2.719  4.021    21.521  441.785
Bali                        0.985      2.806  4.149    22.206  455.854
Banten                      0.995      2.834  4.191    22.435  460.544
Bengkulu                    0.944      2.690  3.978    21.292  437.095
DKI Jakarta                 1.005      2.863  4.234    22.663  465.234
Daerah Istimewa Yogyakarta  0.975      2.777  4.106    21.978  451.165
Indonesia                   1.003      2.858  4.226    22.617  464.296
Jambi                       0.967      2.754  4.072    21.795  447.413
Jawa Barat                  1.003      2.858  4.226    22.617  464.296
Jawa Tengah                 0.991      2.823  4.174    22.343  458.668
Jawa Timur                  1.113      3.169  4.687    25.085  514.947
Kalimantan Barat            0.948      2.702  3.995    21.384  438.971
Kalimantan Selatan          0.946      2.696  3.987    21.338  438.033
Kalimantan Tengah           0.955      2.719  4.021    21.521  441.785
Kalimantan Timur            0.979      2.788  4.123    22.069  453.041
Kalimantan Utara            0.951      2.707  4.004    21.429  439.909
Kepulauan Bangka Belitung   0.946      2.696  3.987    21.338  438.033
Kepulauan Riau              0.969      2.759  4.080    21.841  448.351
Lampung                     0.955      2.719  4.021    21.521  441.785
Maluku                      0.963      2.742  4.055    21.704  445.537
Maluku Utara                0.961      2.736  4.046    21.658  444.599
Nusa Tenggara Barat         0.944      2.690  3.978    21.292  437.095
Nusa Tenggara Timur         0.926      2.638  3.901    20.881  428.653
Papua                       0.963      2.742  4.055    21.704  445.537
Papua Barat                 0.953      2.713  4.012    21.475  440.847
Riau                        1.003      2.858  4.226    22.617  464.296
Sulawesi Barat              0.951      2.707  4.004    21.429  439.909
Sulawesi Selatan            0.969      2.759  4.080    21.841  448.351
Sulawesi Tengah             0.955      2.719  4.021    21.521  441.785
Sulawesi Tenggara           0.987      2.811  4.157    22.252  456.792
Sulawesi Utara              0.955      2.719  4.021    21.521  441.785
Sumatera Barat              0.955      2.719  4.021    21.521  441.785
Sumatera Selatan            0.961      2.736  4.046    21.658  444.599
Sumatera Utara              0.973      2.771  4.098    21.932  450.227

In [40]:
expected_table.drop(columns=['0'], inplace=True)

In [43]:
chi2_val = ((observed_table.loc['Aceh':'Sumatera Utara', 'Dangerous':'Warning'] - expected_table)**2 / expected_table).sum().sum()
crit_val = stats.chi2.ppf(q = 0.95,  df= 99)
crit_val, chi2_val

(123.2252214533618, 2370.2429607316967)

> Chi2 value lebih dari crit_value untuk degree of freedom 99
>
> Maka --> Reject H0, varible location dan isFatal kemungkinan besar dependent, di lokasi tertentu bisa mempengaruhi case fatality rate, ini disebabkan kemungkinan karena lokasi tersebut memiliki mobilitas tinggi